//colors

$border-form-color: #e0e0e0;
$primary-color: #2a4279;
$contrast-color: #1b254b;
$alternative-color: #ff8300;
//Fonts

//$titles: 'Oswald', sans-serif;
$titles: 'Lato', sans-serif;
//$text: 'Poppins', sans-serif;
$text: 'Lato', sans-serif;


//Responsive

$sm: 600px;
$md: 601px;
$large: 992px;
$x-large: 1200px;

