$icomoon-font-path: "fonts" !default;

$icon-search: \e911;
$icon-star: \e912;
$icon-bathrobes: \e900;
$icon-bathtub: \e901;
$icon-beach: \e902;
$icon-beach-pool-facilities: \e903;
$icon-business-center: \e904;
$icon-children-club: \e905;
$icon-coffe-maker: \e906;
$icon-deep-soaking-bathtub: \e907;
$icon-fitness-center: \e908;
$icon-garden: \e909;
$icon-kitchen-facilities: \e90a;
$icon-newspaper: \e90b;
$icon-nightclub: \e90c;
$icon-restaurant: \e90d;
$icon-safety-box: \e90e;
$icon-separate-bredroom: \e90f;
$icon-sheets: \e910;

