@import "../../../../styles/variables";
.box-hotel{
  background-color: white;
  padding: 12px;
  margin-bottom: 12px;
  .image{
    .background-image{
      width: 100%;
      height: 180px;
      overflow: hidden;
    }
    img{
      max-width: 100%;
    }
  }
  .info{
    h2{
      font-size: 14px;
      font-weight: bold;
      color: $primary-color;
      margin: 0 0 5px 0;
    }
    .icon-star{
      color: #ffc427;
      font-size: 17px;
    }
    .additional{
      margin-top: 12px;
      span{
        font-size: 25px;
        color: #333;
        margin-right: 10px;
      }
    }
  }
  .bg-price{
    text-align: center;
    border-left: 1px dashed #ccc;
    min-height: 160px;
    p{
      font-size: 12px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .box-price{
      margin-top: 5px;
      margin-bottom: 15px;
      display: block;
    }
    .currency{
      font-size: 33px;
      font-weight: 100;
      color: $alternative-color;
    }
    .price{
      font-size: 33px;
      font-weight: bold;
      color: $alternative-color;
    }
  }
}


@media screen and (max-width: $large) {
    .box-hotel{
      margin-top: 12px;
      .image{
        .background-image{
          width: 100%;
          height: 270px;
          overflow: hidden;
        }
        img{
          width: 100%;
        }
      }
      .info{
        margin-top: 12px;
        text-align: center;
      }
      .bg-price{
         border-top: 1px dashed #ccc;
        border-left: 1px dashed transparent;
        min-height: 160px;
        margin-top: 12px;
      }
    }
}
