.spin {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border: 3px solid #d87432;
  border-radius: 50%;
}
.spin:before, .spin:after {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  background-color: #d8663a;
  border-radius: 1.5px;
  transform-origin: 50% 0;
}
.spin:before {
  height: 9px;
  left: 13.5px;
  top: 50%;
  animation: spin 1500ms linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
